body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    margin: 0px;
}

.block {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

li {
    margin: 10px;
}

img {
    width: 50px;
}
